@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  overflow: hidden;
  font-family:'Poppins', sans-serif;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.App header {
  
  
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: auto;
  top: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  justify-content: flex-end;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  background-color: #4C1D95;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  
  
}

.backgroundlog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #7D5AB2;
}

main {
  padding: 10px;
  height: 84.5vh;
  margin: 6vh  0 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  
}

.loginbtn{
  height: 100vh;
  align-content: center;
  background-image: url('./components/Untitled-2-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:60px;
  flex-direction: column;
  z-index: 999;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #88834e;
}

input {
  line-height: 1.5;
  width: fit-content;
  font-size: 1.5rem;
  background: rgb(255, 255, 255);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 35px;
}

button3 {
  
  background-color:#7D5AB2;
  border-radius:35px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Poppins', sans-serif;;
  font-size:25px;
  padding:15px 64px;
  text-decoration: none; 
}

button3:hover {
background-color:#7D5AB2;
}


button3:active {
position:relative;
top:1px;
}

      

button3:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button3:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  background: rgb(191, 99, 228);
  
  color: white;
}


button2 {
  background-color:#7D5AB2;
  border-radius:35px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Poppins', sans-serif;;
  font-size:25px;
  padding:15px 75px;
  text-decoration:none;
  }


button2:hover {
  background-color:#7D5AB2;
  }
  
  
button2:active {
  position:relative;
  top:1px;
  }
  
        
  
button2:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

button2:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    background: rgb(191, 99, 228);
    
    color: white;
  }

  button1 {
    background-color:#7D5AB2;
    border-radius:35px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Poppins', sans-serif;;
    font-size:25px;
    padding:8px 30px;
    text-decoration:none;
    }
  
  
  button1:hover {
    background-color:#7D5AB2;
    }
    
    
  button1.received {
    position:relative;
    top:1px;
    }
    
          
    
  button1:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  
  button1:hover {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      perspective: 1000px;
      background: rgb(191, 99, 228);
      
      color: white;
    }

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  
}





ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: black;
  background: #ada5f5;
  align-self: flex-end;
}
.received p {
  background: #fdb5b5;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.rocket{
  width: 40px;
  height: 40px;
  border-radius: none;
  margin: 0 4px;
}

.smiley{
  width: 25px;
  height: 25px;
}

textarea {
  overflow: auto;
  resize: none;
  padding-top: 9px;
  padding-left: 20px;
}

.message-box{
  flex-direction: row;
  display: flex;
  height: 4.5vh;
  padding: 15px;
  position: relative;

}


.message-box .message-input {
    order:2;
    background: none;
    border: none;
    outline: none !important;
    color: black;
    font-family:'Poppins', sans-serif;;
    font-size:15px;
    margin: 0;
    border-radius: 35px;
    width: 98%;
    background-color: #ffffff;
    
}




.message-box .message-submit {
  order: 4;
  z-index: 1;
  top: 14px;
  right: 4vh;
  border: none;
  outline: none !important;
  background-color: transparent;
}


.message-box .emoji-icon {
  order: 3;
  cursor: pointer;
  align-self: center;
  z-index: 999;
  position: relative;
  right: 2.75vw;
  top: 2px;
  border: none;
  outline: none !important;
  background-color: transparent;
}

.emoji-picker {
  position: absolute;
  bottom: 60px;
  right: 20px;
}